td .buttonTPL {
    width: 40px;
}

td .buttonTPL a, td .buttonTPL a:hover, td .buttonTPL a:visited, td .buttonTPL a:focus{
    margin-right: 5px;
    text-decoration: none;
}

.required {
    font-weight: bolder;
}